<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">🌄 Mercurius Inc.</a>
    <nav>
      <ul class="nav-list">
        <li>
          <!-- <button> -->
          <mat-icon>house</mat-icon>
          <!-- </button> -->
        </li>
        <li>
          <mat-icon>notifications</mat-icon>
        </li>
        <li>
          <a href="">Jason Wang</a>
        </li>
        <li>
          <mat-icon>account_circle</mat-icon>
        </li>
      </ul>
    </nav>
  </div>
</header>
