header {
  background-color: white;
  padding: 0;
  border-bottom: 3px solid rgb(214, 207, 207);
}

a {
  color: black;
}

a:hover {
  background-color: orange;
  color: whitesmoke;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

a.logo {
  font-weight: bold;
  padding: 1em;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  margin: 0 10px;
}
