app-header {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #3f51b5;
  text-decoration: none;
}

nav a:hover {
  background-color: #283593;
}

nav a.selected {
  color: #000;
  background-color: #fff;
}
