<header>
  <nav class="navbar">
    <div class="navbar-container">
      <ul class="navbar-items">
        <li class="navbar-item"><a href="#">Home</a></li>
        <li class="navbar-item"><a href="#">About</a></li>
        <li class="navbar-item"><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <!-- 下部分 -->
  <div class="navigator">
    <h4>Employees</h4>
    <ul>
      <li><a href="#">Amit Mukherjee</a></li>
      <li><a href="#">Employee Name </a></li>
      <li><a href="#">Employee Name 1</a></li>
      <li><a href="#">Employee Name 2</a></li>
      <li><a href="#">Employee Name 3</a></li>
      <li><a href="#">Employee Name 4</a></li>
      <li><a href="#">Employee Name 5</a></li>
      <!-- Add more employee names as needed -->
    </ul>
  </div>
  <div class="main-panel">
    <div>calenderd</div>
  </div>
  <app-app-footer> </app-app-footer>
</main>
